@font-face {
    font-family: "Roboto";
    src:
        url("./fonts/Roboto-Regular.ttf") format("truetype");

    font-weight:normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 400px;
    font-size: 14px;
    font-family: arial, sans-serif;
    box-sizing: content-box;
    display: block;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: content-box;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
}

.navigator-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 6px;
    margin-right: 32px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.navigator-items {
    display: flex;
    padding-left: 32px;
    box-sizing: border-box;
    height: 48px;
    justify-content: flex-end;
}

a {
    appearance: none;
    text-decoration: none;
    color: inherit;
}

.navigator-items > a {
    margin: 12px;
    vertical-align: middle;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.navigator-items > a:hover {
    text-decoration: underline;
} 


.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92px;
}

.logo-container {
    margin: 0 auto;
}

.logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.search-container {
    display: block;
    box-sizing:content-box;
    z-index: auto;
    grid-row: 3;
    align-items:flex-start;
    justify-content: center;
}

input {
    appearance: none;
    border: none;
    text-decoration: none;
    color: inherit;
}

input[type="text"]:focus {
    appearance: none;
    outline: none;
    text-decoration:none;
    color: inherit;
}

#search-box {
    display: flex;
    min-height: 44px;
    max-width: 584px;
    width: auto;
    border-radius: 2rem;
    box-shadow: none;
    border: 1px solid grey;
}