.main-container {
    display: grid;
    grid-template-rows: 1fr 5fr 10fr;
    height:100vh;

}

a {
    appearance: none;
    text-decoration: none;
    color: inherit;
}

.search-options {
    display: flex;
    grid-row: 1;
    align-items: center;
    justify-content: flex-end;
}

.search-options > a {
    margin: 1rem;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-row: 2;
    font-size: 3rem;
}

.search-container {
    display: flex;
    grid-row: 3;
    align-items:flex-start;
    justify-content: center;
}